@import "parts/vars";
@import "parts/rules";
@import "parts/loader";
@import "parts/header";
@import "parts/hero";
@import "parts/how-it-works";
@import "parts/feature";
@import "parts/offer";
@import "parts/scene";
@import "parts/users";
@import "parts/reviews";
@import "parts/footer";