.how-it-works {
    position: relative;
    margin-top: -125px; 
    padding-top: 65px; 
    z-index: 2;
    padding-bottom: 50px;
    background: #FAFAFC;

    .section-title-wrap {

    }

    .how-it-works-media {
        max-width: 1254px;
        width: 92%;
        height: 478px;
        border-radius: 48px;
        margin: 0 auto;
        overflow: hidden; 
        will-change: transform;

        .how-it-works-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
            object-position: 0px -75px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .how-it-works {
        .how-it-works-media {
            .how-it-works-image {
                object-position: unset;
            }
        }
    }
}