.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FAFAFC;
    z-index: 990;
    display: flex;
    opacity: 1;
    pointer-events: all;



    .loader-decorate {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 992;
        // width: 132px;
        transition: .4s;
        opacity: 0;
    }

    .loader-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 992;
        width: 132px;
        transition: .4s;
    }

}

html.is-loading,
body.is-loading {
    overflow: hidden;
    height: 100%;
    touch-action: none;
}