.offer {
  position: relative;
  padding: 130px 0 100px;
  overflow: hidden;
  // min-height: 100svh;
  background: url(../images/dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-wrapper {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
}

.offer-list {

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 22px;
}

.offer-item {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px 12px 20px;
  border-radius: 20px;
}

.offer-item img {
  height: 270px;
  border-radius: 20px;
  width: 100%;
  display: block;
  margin-bottom: 40px;
  object-fit: cover;
}

.offer-item-title {
  font-size: 32px;
  padding: 0 8px;
  color: #2B2B2B;
  margin-bottom: 5px;
  line-height: normal;
}

.offer-item-text {
  font-size: 14px;
  padding: 0 8px;
  color: #A5A4AB;
  line-height: normal;
}

.offer-indicator {
  display: none;
  justify-content: center;
  gap: 18px;
  margin-top: 26px;
  z-index: 20;
}

.offer-dot {
  width: 20px;
  height: 4px;
  border-radius: 999px;
  background: rgba(255, 120, 130, 0.15);
  transition: width .25s ease, background-color .25s ease, opacity .25s ease;
  opacity: .9;
}

.offer-dot.is-active {
  width: 60px;
  background: #ff6b7a;
  opacity: 1;
}

@media (max-width: 850px) {
  .offer {
    overflow: visible;
  }

  .offer-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    /* сховати скролбар */
    scrollbar-width: none;
    padding: 0 16px;
    width: 100%;
  }

  .offer-wrapper::-webkit-scrollbar {
    display: none;
  }

  .offer-list {
    display: flex;
    gap: 17px;
    width: max-content;
    padding: 16px 0;
  }

  .offer-item {
    flex: 0 0 86vw;
    max-width: 360px;
    scroll-snap-align: center;
  }

  .offer-indicator {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: center;
    gap: 10px;
    margin-top: 18px;
  }

  .offer-item img {
    height: 230px;
    margin-bottom: 16px;
  }
  
  .offer-item-title {
    font-size: 24px;
    padding: 0 6px;
  }
  
  .offer-item-text {
    font-size: 14px;
    padding: 0 6px;
  }
}


@media (max-width: 480px) {
  .offer-wrapper {
    width: 80%;
  }
}


@media (max-width: 450px) {
  .offer-wrapper {
    width: 86%;
  }
}


@media (max-width: 430px) {
  .offer-wrapper {
    width: 91%;
  }
}


@media (max-width: 390px) {
  .offer-wrapper {
    width: 94%;
  }
}