* {
    box-sizing: border-box;
    // scroll-behavior: smooth;
}

body {
    font-family: $interFont;
    background: #FAFAFC;
}


a {
    text-decoration: none;
    color: unset;
    outline: none;
}

img {
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.section-title-wrap {
    max-width: 560px;
    margin: 0 auto 35px;
    padding: 0 15px;
}

.section-title {
    color: #2B2B2B;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 24px;
}

.section-accent {
    background: $accentText;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.section-subtitle {
    text-align: center;
    font-size: 16px;
    color: rgba(43, 43, 43, 0.5);
    max-width: 390px;
    margin: 0 auto;
    line-height: normal;
}




@media only screen and (max-width: 768px) {
    .section-title {
        font-size: 32px;
        margin-bottom: 16px;
    }
    
}
